<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creditos</title>
    <link rel="stylesheet" href="../Statics/Colores.css">
</head>
<body>
    <h1><stong>Equipo 7</stong></h1>
    <h1>Creditos</h1>
    <h3 id="diego">Diego Serrano</h3>
    <p>Diego Serrano</p>
    <h3 id="fatima">Fatima Rosales</h3>
    <p>Fatima Rosales</p> 
    <h3 id="jorge">Jorge Ulage</h3>
    <p>Jorge Ulage ^^</p>
    <h3 id="mariano">Mariano Guerrero</h3>
    <p>Mariano Guerrero</p>
</body>
</html>
