<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prueba de artistas</title>
    <link  rel="stylesheet" href="../Statics/juego.css">
    <style>
      body{
        background-image: url("../Statics/imagenes/fondo.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
      }
    </style>
</head>
<body>
    <div id="principal">
        <button id="artistasBoton" class="formatoObs">Artistas destacados</button>
        <button id="generosBoton" class="formatoObs">Géneros</button>
    </div>
    <div id="artistas" style="display:none">
    </div>
</body>
<script src="../Dynamics/JS/baseDeDatos.js"></script>
</html>